.App {
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Cabin', sans-serif;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Cabin', sans-serif;
}

.App-intro {
  font-size: large;
  font-family: 'Cabin', sans-serif;
}

.baseLayout {
  font-family: 'Cabin', sans-serif;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
